@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
    --dark-primary: #004749;
    --primary: #013e41;
    --secondary: #26c1af;
    --bg-main: #c5e5e7;
}

body {
    background-color: var(--bg-main);
    font-family: 'Arvo', serif;
}

input{
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 700;
    text-align: end;
    border: none;
    border-radius: 8px; 
    padding: 10px 15px;
    outline: none;
}
input::placeholder {
    font-weight: 400;
}

button {
    width: 25%;
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 8px; 
    padding: 10px 15px;
    outline: none;
}

button:focus, button:hover, button:active{
    background-color: var(--secondary);
    color: var(--primary);
    outline: none;
}

.calc-header {
    font-weight: 700;
    letter-spacing: 1px;
}